<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>PHP Automaton - {{page.title}}</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <h1>PHP Automaton</h1>
        <p>More than a deploy tool</p>
        <p class="view">
            <a href="https://travis-ci.org/jelte/automaton"><img src="https://travis-ci.org/jelte/automaton.svg?branch=master" alt="Build Status"></a>
            <a href="https://coveralls.io/r/jelte/automaton?branch=master"><img src="https://img.shields.io/coveralls/jelte/automaton.svg" alt="Coverage Status"></a>
            <a href="https://insight.sensiolabs.com/projects/f11914ba-ea28-460f-a3cc-eb120afc579d"><img src="https://insight.sensiolabs.com/projects/f11914ba-ea28-460f-a3cc-eb120afc579d/mini.png" alt="SensioLabsInsight"></a>
        </p>

        {% assign pages = site.data.menu %}
        {% include menu.html root='true' %}

        <p class="view"><a href="https://github.com/jelte/automaton">View the Project on GitHub <small>jelte/automaton</small></a></p>

        <ul class="downloads">
            <li><a href="https://github.com/jelte/automaton/zipball/master">Download <strong>ZIP File</strong></a></li>
            <li><a href="https://github.com/jelte/automaton/tarball/master">Download <strong>TAR Ball</strong></a></li>
            <li><a href="https://github.com/jelte/automaton">View On <strong>GitHub</strong></a></li>
        </ul>
    </header>
    <section>
        {{ content }}
    </section>
    <footer>
        <p>This project is maintained by <a href="https://github.com/jelte">jelte</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
</div>
<script src="/javascripts/scale.fix.js"></script>

</body>
</html>